---
import { Query } from 'node-appwrite';
import Layout from '../../../../layouts/Layout.astro';
import { createAdminClient } from '../../../../server/appwrite';
import type { ACTION_ERROR_CODES } from 'astro:actions';
import { record } from 'astro:schema';

const { user } = Astro.locals;
if (!user || !user.labels.includes('admin')) {
    return Astro.redirect("/");;
}

const { users } = createAdminClient();
const { user_id } = Astro.params!;

const managed_user = (await users.list([Query.equal("$id", [user_id!.toString()])])).users[0]

if (Astro.request.method === "POST") {
    var data = await Astro.request.formData()

    switch (data.get("type")) {
        case 'email':
            users.updateEmail(user_id!.toString(), data.get("email")!.toString());
            break;
        case 'name':
            users.updateName(user_id!.toString(), data.get("name")!.toString());
            break;
        case 'password':
            users.updatePassword(user_id!.toString(), data.get("password")!.toString());
            break;
        case 'deactivate':
            users.updateStatus(user_id!.toString(), !managed_user.status);
            break;
        case 'delete':
            users.delete(user_id!.toString());
            return Astro.redirect("/admin/dashboard");
    }
    return Astro.redirect(Astro.url.pathname)
}
---

<Layout>
    <div class="flex items-center justify-center">
        <div class="w-max max-w-4xl bg-base-300 rounded-lg shadow-md p-6">
            <div tabindex="0" role="button" class="avatar">
                <div class="w-24 rounded-full">
                    <img
                        alt="Tailwind CSS Navbar component"
                        src={"https://cloud.appwrite.io/v1/avatars/initials?name=" + managed_user.name}
                    />
                </div>
                <h2 class="text-7xl font-semibold text-white p-2">{managed_user.name} </h2>
                <span class="badge m-auto text-lg p-3">{managed_user.$id}</span>
            </div>
            <div>
                <div class="grid grid-cols-2 flex-col">
                    <!-- Email -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Email</span>
                        </div>
                        <input type="text" placeholder={managed_user.email} class="input input-bordered w-max max-w-xs" disabled />
                        <button class="btn btn-primary" onclick="email_modal.showModal()">Change</button>

                        <dialog id="email_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Email</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="email"/>
                                    <input
                                    id="email" name="email" placeholder="Email" type="email" 
                                    class="px-3 py-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400"
                                    required
                                    />
                                    <button type="submit" class="py-2 px-4 bg-indigo-500 text-black rounded-md hover:bg-indigo-600 font-bold">
                                        Change Email
                                    </button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Name -->
                    <div>
                        <div class="label">
                            <span class="label-text">Name</span>
                        </div>

                        <input type="text" placeholder={managed_user.name} class="input input-bordered w-max max-w-xs" disabled />
                        <button class="btn btn-primary" onclick="name_modal.showModal()">Change</button>

                        <dialog id="name_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Name</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="name"/>
                                    <input
                                    id="name" name="name" placeholder="Name" type="text" 
                                    class="px-3 py-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400"
                                    required
                                    />
                                    <button type="submit" class="py-2 px-4 bg-indigo-500 text-black rounded-md hover:bg-indigo-600 font-bold">
                                        Change Name
                                    </button>
                                </form>
                            </div>

                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Password -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Password</span>
                        </div>
                        <button class="btn btn-primary w-full py-2 px-4" onclick="password_modal.showModal()">Change</button>

                        <dialog id="password_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Password</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="password"/>
                                    <input
                                    id="password" name="password" placeholder="Password" type="password" 
                                    class="px-3 py-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400"
                                    required
                                    />
                                    <button type="submit" class="py-2 px-4 bg-indigo-500 text-black rounded-md hover:bg-indigo-600 font-bold">
                                        Change Password
                                    </button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Labels -->
                    <div>
                        <div class="label">
                            <span class="label-text">Labels</span>
                        </div>

                        <button class="btn btn-primary w-full py-2 px-4" onclick="label_modal.showModal()">Edit</button>

                        <dialog id="label_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Labels</h3>
                                <p>Please use Appwrite dashboard</p>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Deactivate -->
                    <div class="pr-3">
                        <div class="label">
                            <span class="label-text">Activation</span>
                        </div>

                        <button class="btn btn-error w-full py-2 px-4 text-black rounded-md" onclick="deactivate_modal.showModal()">{managed_user.status ? 'Deactivate' : 'Activate'} Account</button>

                        <dialog id="deactivate_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Edit Activation Status</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="deactivate"/>
                                    <button class="btn btn-error w-full py-2 px-4 text-black rounded-md" type="submit">{managed_user.status ? 'Deactivate' : 'Activate'} Account</button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                    <!-- Delete -->
                    <div>
                        <div class="label">
                            <span class="label-text">Delete Account</span>
                        </div>

                        <button class="btn btn-error w-full py-2 px-4 text-black rounded-md" onclick="delete_modal.showModal()">Delete Account</button>

                        <dialog id="delete_modal" class="modal">
                            <div class="modal-box">
                                <h3 class="text-lg font-bold">Delete Account</h3>
                                <form method="POST" class="pt-2">
                                    <input type="hidden" name="type" id="type" value="delete"/>
                                    <button class="btn btn-error w-full py-2 px-4 text-black rounded-md" type="submit">Delete Account</button>
                                </form>
                            </div>
                            <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                            </form>
                        </dialog>
                    </div>
                </div>

                <div class="pt-12">
                    <a class="btn btn-block pt" href="/admin/dashboard">Back To Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</Layout>
