---
import BaseLayout from '../../layouts/BaseLayout.astro';

---

<BaseLayout>
    <div class="h-full flex items-center justify-center">
        <div>
            <h1 class="text-4xl font-bold text-center">Maintenance Mode</h1>
            
            <div class="flex items-center justify-center pt-3 text-lg text-center">
                <div>
                    <p>SimpleCV is currently in Maintenance Mode.</p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
