---
import BaseLayout from '../../layouts/BaseLayout.astro';

---

<BaseLayout>
    <div class="h-full flex items-center justify-center">
        <div>
            <h1 class="text-4xl font-bold">This page is temporarily disabled.</h1>
            
            <div class="flex items-center justify-center pt-3 text-lg">
                <div>
                    <p>We apologise for any inconveniences.</p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
