---
import { ID, Permission, Query, Role } from 'node-appwrite';
import AuthLayout from '../layouts/AuthLayout.astro';

const { user, databases } = Astro.locals;

const skills = (await databases.listDocuments(import.meta.env.CV_DB0_ID, "skills", [Query.equal("uid", [user.$id])])).documents

if (Astro.request.method == "POST") {
  const data = await Astro.request.formData()
  console.log(data)

  switch (data.get("type")) {
    case "skill_add":
      await databases.createDocument(
        import.meta.env.CV_DB0_ID, 
        "skills",
        ID.unique(),
        {"skill": data.get("skill"), "uid": user.$id},
        [Permission.write(Role.user(user.$id)), Permission.read(Role.user(user.$id))]
      )
      break;
    case "skill_edit":
      await databases.updateDocument(
        import.meta.env.CV_DB0_ID, 
        "skills", 
        data.get("skill_id"),
        {"skill": data.get("skill")}
      )
      break;
    case "skill_delete":
      await databases.deleteDocument(import.meta.env.CV_DB0_ID, "skills", data.get("skill_id"))
      break;
  }
  return Astro.redirect("/dashboard")
}
---

<AuthLayout>
  <div class="flex items-center justify-center flex-col">
    <div class="w-3/4">
      <div>
        <!-- Pages -->
        <div class="bg-base-300 rounded-lg shadow-md p-4">
          <h1 class="text-xl font-bold text-center">Pages <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
        </div>
      </div>
      <div class="grid grid-cols-2 flex-col pt-3">
        <!-- Education -->
        <div class="pr-3">
          <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
            <h1 class="text-xl font-bold text-center">Education <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
          </div>
        </div>
        <!-- Work Experience -->
        <div class="pl-3">
          <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
            <h1 class="text-xl font-bold text-center">Work Experience <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
          </div>
        </div>
        <!-- Contact Details -->
        <div class="pr-3 pt-3">
          <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
            <h1 class="text-xl font-bold text-center">Contact Details <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
          </div>
        </div>
        <!-- References -->
        <div class="pt-3 pl-3">
          <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
            <h1 class="text-xl font-bold text-center">References <button class="btn btn-primary btn-circle btn-sm">+</button></h1>
          </div>
        </div>
        <!-- Skills -->
        <div class="pr-3 pt-3">
          <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
            <h1 class="text-xl font-bold text-center">Skills <button onclick="skill_add_modal.showModal()" class="btn btn-primary btn-circle btn-sm">+</button></h1>
            <dialog id="skill_add_modal" class="modal">
              <div class="modal-box">
                <h3 class="text-lg font-bold mb-2">Add a skill.</h3>
                
                <form method="POST">
                  <input type="text" class="input input-bordered w-full max-w-xs mr-1" name="skill"/>
                  <input type="hidden" name="type" id="type" value="skill_add"/>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
              </div>
              <form method="dialog" class="modal-backdrop">
                <button>close</button>
              </form>
            </dialog>

            <div class="flex items-center justify-center flex-col overflow-auto">
              {skills.map((skill: { skill: string; $id: string; }) => (
                <div class="pt-2 flex flex-row">
                  <input type="text" class="input input-bordered w-max max-w-xs mr-2" disabled value={skill.skill}/>
                  <button class="btn btn-primary mr-2" onclick={"skill_" + skill.$id + "_edit_modal.showModal()"}>Edit</button>

                  <dialog id={"skill_" + skill.$id + "_edit_modal"} class="modal">
                    <div class="modal-box">
                      <h3 class="text-lg font-bold mb-2">Edit a skill.</h3>
                      
                      <form method="POST">
                        <input type="text" class="input input-bordered w-full max-w-xs mr-1" value={skill.skill} name="skill"/>
                        <input type="hidden" name="type" id="type" value="skill_edit"/>
                        <input type="hidden" name="skill_id" value={skill.$id}/>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </form>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                      <button>close</button>
                    </form>
                  </dialog>

                  <form method="POST">
                    <input type="hidden" name="type" id="type" value="skill_delete"/>
                    <input type="hidden" name="skill_id" value={skill.$id}/>
                    <button type="submit" class="btn btn-error">-</button>
                  </form>
                </div>
              ))}
            </div>
          </div>
        </div>
        <!-- Images -->
        <div class="pt-3 pl-3">
          <div class="w-full max-w-4xl bg-base-300 rounded-lg shadow-md p-4">
            <h1 class="text-xl font-bold text-center">Images <button class="btn btn-primary btn-circle btn-sm" disabled>+</button></h1>
            <div class="flex items-center justify-center">
              <p class="italic">Images are not currently supported</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</AuthLayout>
