---
import { SESSION_COOKIE, createAdminClient } from "../../server/appwrite.js";
import { AppwriteException, ID } from "node-appwrite";
import BaseLayout from "../../layouts/BaseLayout.astro";

const { user } = Astro.locals;
if (user) {
    return Astro.redirect("/account");
}

var errors = "";
if (Astro.request.method === "POST") {
    // Extract the form data
    const data = await Astro.request.clone().formData();
    const email = data.get("email")!.toString();
    const password = data.get("password")!.toString();

    // Create the admin client
    const { account } = createAdminClient();

    try {
        // Create the email password session
        const session = await account.createEmailPasswordSession(
            email,
            password,
        );

        // Set the session cookie
        Astro.cookies.set(SESSION_COOKIE, session.secret, {
            path: "/",
            expires: new Date(session.expire),
            sameSite: "strict",
            secure: true,
            httpOnly: true,
        });

        // Redirect to the account page
        return Astro.redirect("/account");
    } catch (error) {
        if (error instanceof AppwriteException) {
            console.log(error)
            switch (error.type) {
                case "user_invalid_credentials":
                    errors = "Invalid credentials. Please check the email and password.";
                    break;
                case "user_blocked":
                    errors = "Your account has been deactivated by an Administrator."
                    return Astro.rewrite("/e/account_blocked")
            }
        } else {
            console.error(error);
        }
    }
}
---

<BaseLayout>
    <div class="flex items-center justify-center">
        <div class="w-full max-w-md bg-base-300 rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold text-white text-center">Login</h2>
            <p class="mt-2 text-center text-primary"><a href="/account/signup">Create a new Account</a></p>
            <form class="mt-4" method="POST">
            <div class="flex flex-col mb-4">
                <input
                id="email" name="email" placeholder="Email" type="email" 
                class="input input-bordered w-full"
                required
                />
            </div>
            <div class="flex flex-col mb-6">
                <input
                id="password"
                name="password"
                placeholder="Password"
                type="password"
                class="input input-bordered w-full"
                required
                />
            </div>
            <button type="submit" class="w-full w-full btn btn-primary">
                Sign in
            </button>
            {errors && <p class="pt-2 px-4 text-red-600 text-center">{errors}</p>}
            </form>
        </div>
    </div>
</BaseLayout>
