---
import { SESSION_COOKIE, createAdminClient } from "../../server/appwrite.js";
import { ID, AppwriteException, Permission, Role } from "node-appwrite";
import BaseLayout from "../../layouts/BaseLayout.astro";

var errors = ""
if (Astro.request.method === "POST") {
    // Extract the form data
    const data = await Astro.request.formData();
    const email = data.get("email")!.toString();
    const password = data.get("password")!.toString();
    const name = data.get("name")!.toString();

    // Create the admin client
    const { account, databases } = createAdminClient();

    try {
        // Create the email password session
        const new_account = await account.create(ID.unique(), email, password, name);
        const session = await account.createEmailPasswordSession(email, password);

        // Set the session cookie
        Astro.cookies.set(SESSION_COOKIE, session.secret, {
            path: "/",
            expires: new Date(session.expire),
            sameSite: "strict",
            secure: true,
            httpOnly: true,
        });

        databases.createDocument(
            import.meta.env.DB0_ID,
            "user",
            new_account.$id,
            {
                "enabled": true
            },
            [
                Permission.write(Role.user(new_account.$id)),
                Permission.read(Role.user(new_account.$id))
            ]
        )

        // Redirect to the account page
        return Astro.redirect("/account");
    } catch (error) {
        if (error instanceof AppwriteException) {
            console.log(error)
            switch (error.type) {
                case "general_argument_invalid":
                    errors = error.message;
                    break;
            }
        } else {
            console.error(error)
        }
    }
}
---

<BaseLayout>
    <div class="flex items-center justify-center">
        <div class="w-full max-w-md bg-base-300 rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold text-white text-center">Sign Up</h2>
            <form class="mt-6" method="POST">
                <div class="flex flex-col mb-2">
                    <input
                    id="name" name="name" placeholder="Name" type="text"
                    class="input w-full"
                    required
                    />
                </div>
                <div class="flex flex-col mb-2">
                    <input
                    id="email" name="email" placeholder="Email" type="email" 
                    class="input w-full"
                    required
                    />
                </div>
                <div class="flex flex-col mb-4">
                    <input
                    id="password"
                    name="password"
                    placeholder="Password"
                    type="password"
                    class="input w-full"
                    required
                    />
                </div>
                <div class="flex grid grid-cols-2">
                    <div class="pr-1">
                        <button type="submit" class="w-full btn btn-primary">
                            Sign up
                        </button>
                    </div>
                    <div class="pl-1">
                        <a class="w-full btn btn-block" href="/account/signin">Sign in</a>
                    </div>
                </div>
                {errors && <p class="pt-2 px-4 text-red-600 text-center">{errors}</p>}
            </form>
        </div>
    </div>
</BaseLayout>